/*/*/*.aux
/*/*/*.toc
/*/*/*.snm
/*/*/*.pre
/*/*/*.nav
/*/*/*.fdb_latexmk
/*/*/*.synctex.gz
/*/*/*.log
/*/*/*.fls
/*/*/*.out
/*/*/_minted-main
*/*/*/*.aux
*/*/*/*.toc
*/*/*/*.snm
*/*/*/*.pre
*/*/*/*.nav
*/*/*/*.fdb_latexmk
*/*/*/*.synctex.gz
*/*/*/*.log
*/*/*/*.fls
*/*/*/*.out
*/*/*/_minted-main
